# Ignore private and secrets files
private.*sh
secret.*sh

node_modules

# Ignore compiled .zwc files
*.zwc

# Ignore misc files
.idea


# Ignore stateful/personal files
**/.zcompdump
konsolestaterc
**/aichat/rags
**/aichat/sessions
**/opencode
**/aichat/messages.md
.uuid
