# Ignore private and secrets files
private.*sh
secret.*sh

node_modules

# Ignore compiled .zwc files
*.zwc

# Ignore misc files
konsolestaterc
**/aichat/messages.md
.uuid

# Project files
.idea

home/.config/aichat/rags
home/.config/aichat/sessions

home/.config/opencode