[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=sendWithPairDrop;

[Desktop Action sendWithPairDrop]
Name=Send with PairDrop
Name[en]=Send with PairDrop
Icon=document-share
Exec=send-with-pairdrop %F