[user]
name = Nico
email = nightgrey@users.noreply.github.com

[commit]
template = ~/.gitmessage

[push]
followTags = true

[pull]
rebase = true

[push]
default = current
autoSetupRemote = true

[core]
excludesFile = ~/.gitignore

[init]
defaultBranch = main

[lfs]
# Do not pull anything but the current ref of LFS files. I don't have
# infinite money for storage. Yet.
fetchrecentrefsdays = 0

# Aliases
[alias]
# Returns the git root directory or false.
root = !git rev-parse --show-toplevel 2>/dev/null || echo false
# Returns true or false if in git work tree.
is-git = !git rev-parse --is-inside-work-tree

# Quickly creates a "SAVEPOINT" commit
save = !git add -A && git commit -vm 'SAVEPOINT' --no-verify
# Undos the last commit, but keeps the changes in the repository. Useful for undoing `SAVEPOINT`s.
undo = reset HEAD~1 --mixed

# Quickly creates a "WIP" commit of all changes
wip = !git add -A && git commit -vm 'WIP [skip ci]' --no-verify
c = !git commit --no-verify

# Update already staged files
update = !git update-index --again

# Find commits by message
find = "!f() { git log --decorate --date=short --grep=$1; }; f"
# Find commits by SHA
find-sha = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

## Wipe the last commit
# wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' --no-verify && git reset

# Clone repository without LFS files with recent refs.
# Usually used for cloning repositories from huggingface with large LFS files.
storage = "!f() { GIT_LFS_SKIP_SMUDGE=1 git clone \"$@\" --depth 1; }; f"

# Git LFS
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

# Misc settings
[protocol "file"]
allow = always


[maintenance]
	repo = /home/nico/.znap/znap
	repo = /home/nico/.znap/asdf-direnv
	repo = /home/nico/.znap/fast-syntax-highlighting
	repo = /home/nico/.znap/source
	repo = /home/nico/.znap/zsh-autocomplete
	repo = /home/nico/.znap/zsh-autosuggestions
	repo = /home/nico/.znap/zsh-better-npm-completion
	repo = /home/nico/.znap/asdf
	repo = /home/nico/.znap/cli
	repo = /home/nico/.znap/compose
	repo = /home/nico/.znap/dotfiles
	repo = /home/nico/.znap/exa
	repo = /home/nico/.znap/k
	repo = /home/nico/.znap/ohmyzsh
	repo = /home/nico/.znap/thefuck
	repo = /home/nico/.znap/up.zsh
	repo = /home/nico/.znap/zcolors
	repo = /home/nico/.znap/zephyr
	repo = /home/nico/.znap/zman
	repo = /home/nico/.znap/zoxide
	repo = /home/nico/.znap/zsh-aliases-exa
	repo = /home/nico/.znap/zsh-poetry
	repo = /home/nico/.znap/ajeetdsouza/zoxide
	repo = /home/nico/.znap/asdf-vm/asdf
	repo = /home/nico/.znap/DarrinTisdale/zsh-aliases-exa
	repo = /home/nico/.znap/lukechilds/zsh-better-npm-completion
	repo = /home/nico/.znap/marlonrichert/zcolors
	repo = /home/nico/.znap/marlonrichert/zsh-autocomplete
	repo = /home/nico/.znap/mattmc3/zephyr
	repo = /home/nico/.znap/mattmc3/zman
	repo = /home/nico/Developer/own/dotfiles
	repo = /home/nico/.znap/nvbn/thefuck
	repo = /home/nico/.znap/ohmyzsh/ohmyzsh
	repo = /home/nico/.znap/peterhurford/up.zsh
	repo = /home/nico/.znap/supercrabtree/k
	repo = /home/nico/.znap/zdharma-continuum/fast-syntax-highlighting
	repo = /home/nico/.znap/zsh-users/zsh-autosuggestions

# ### ------------------- ###
# --- DIFFING AND LOGGING ---
# ### ------------------- ###
# All settings below are for the `delta` diff viewer.

# Better diffs and logs
# Delta (https://github.com/dandavison/delta#installation)
[interactive]
diffFilter = delta

[diff]
	colorMoved = zebra

[delta]
features = villsau line-numbers decorations
whitespace-error-style = 22 reverse
map-styles = bold purple = magenta, bold cyan = blue >syntax >syntax

# For more themes, see
#   - https://dandavison.github.io/delta/custom-themes.html
#   - https://raw.githubusercontent.com/dandavison/delta/master/themes.gitconfig
[delta "villsau"]
# author: https://github.com/torarnv
dark = true
file-style = omit
hunk-header-decoration-style = omit
hunk-header-file-style = magenta
hunk-header-line-number-style = dim magenta
hunk-header-style = file line-number syntax
line-numbers = false
minus-emph-style = bold red 52
minus-empty-line-marker-style = normal "#3f0001"
minus-non-emph-style = dim red
minus-style = bold red
plus-emph-style = bold green 22
plus-empty-line-marker-style = normal "#002800"
plus-non-emph-style = dim green
plus-style = bold green
syntax-theme = OneHalfDark
whitespace-error-style = reverse red
zero-style = dim syntax

[color "status"]
	branch = 6 normal bold
	added = 10 normal
	updated = 10 normal
	localbranch = 6 normal bold
	changed = 11 normal
	header = normal
	remotebranch = 5 normal bold
	nobranch = 1 0 bold
	unmerged = 9 normal
	untracked = normal
[color "branch"]
	plain = 6 normal bold
	remote = 5 normal bold
	current = 6 normal bold reverse
	local = 6 normal bold
	upstream = 5 normal bold
[color "remote"]
	hint = normal dim
	success = 2 normal
	error = 1 normal
	warning = 3 normal
[color "interactive"]
	header = normal bold
	prompt = 15 4
	help = normal
	error = 1 0 bold
[color "diff"]
	commit = 3 0
	newMoved = 15 3
	oldMovedAlternativeDimmed = 7 5 dim
	frag = normal dim
	oldMovedAlternative = 7 5
	contextBold = normal bold
	newBold = 15 2 bold
	context = normal
	oldMoved = 7 3
	oldBold = 7 1 bold
	newMovedDimmed = 15 3 dim
	func = normal dim
	meta = normal dim
	newDimmed = 15 2 dim
	newMovedAlternative = 15 5
	new = 15 2
	newMovedAlternativeDimmed = 15 5 dim
	whitespace = normal 9
	oldMovedDimmed = 7 3 dim
	oldDimmed = 7 1 dim
	old = 7 1
[color "decorate"]
	branch = 6 normal bold
	tag = 3 0
	remotebranch = 5 normal bold
	stash = normal
	grafted = 1 0 bold
	HEAD = 6 normal bold italic
