# FONTAWESOME_NPM_AUTH_TOKEN is set by ~/.zsh/private.sh
# https://fontawesome.com/how-to-use/on-the-web/setup/using-package-managers
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}