# ### **`.zshrc`**
# - **When loaded**: Interactive shells (both login and non-login)
# - **Purpose**: Interactive shell configuration
# - **Use for**: Aliases, functions, prompt, key bindings, completions, plugins
# - **Note**: This is where most of your customization goes

# zinit
# Wiki: https://zdharma-continuum.github.io/zinit/wiki/
# GitHub: https://github.com/zdharma-continuum/zinit
# Examples: https://zdharma-continuum.github.io/zinit/wiki/GALLERY/#snippets
source /usr/share/zinit/zinit.zsh

# Theme
zi ice id-as"oh-my-posh" atclone"oh-my-posh init zsh --eval --config ~/.config/oh-my-posh/config.json > init.zsh" atpull"%atclone" src"init.zsh"
zi light zdharma-continuum/null

# Basics
zinit light zdharma-continuum/fast-syntax-highlighting
zi light zsh-users/zsh-autosuggestions
zi light marlonrichert/zsh-autocomplete
zinit light zsh-users/zsh-completions
zi snippet OMZL::directories.zsh # oh-my-zsh/lib/directories
zi snippet OMZP::git # oh-my-zsh/plugins/git
zi load trystan2k/zsh-tab-title

#zi load marlonrichert/zcolors
#zi ice eval'zcolors ${(q)LS_COLORS}'; zi load marlonrichert/zcolors
#zi load zdharma-continuum/fast-syntax-highlighting

# Aliases for tooling

# Tools
zi load zap-zsh/exa

zinit ice id-as"zoxide" atclone"zoxide init zsh > init.zsh" src"init.zsh"
zinit light zdharma-continuum/null

zinit ice id-as"bat" atload"alias cat=bat"
zinit light zdharma-continuum/null

zinit ice id-as"ripgrep" atload"alias grep=rg"
zinit light zdharma-continuum/null

# https://zdharma-continuum.github.io/zinit/wiki/GALLERY/#snippets
zinit ice from"gh-r" as"program" mv"shfmt* -> shfmt"
zinit light mvdan/sh


zinit ice as"program" pick"yank" make
zinit light mptre/yank

zi load mattmc3/zman
zi load minTaqa/mvrel

# Completions
zi ice id-as="mise" as"completion" atclone"mise completion zsh > _mise; mise activate zsh > init.zsh;" atload="source init.zsh" atpull"%atclone" src"init.zsh"
zi load zdharma-continuum/null

zi ice id-as="op" as"completion" atclone"op zsh > _op; touch > init.zsh" atpull"%atclone"
zi load zdharma-continuum/null

# Load dotfiles
zi ice id-as="dotfiles" multisrc'zsh/{env,utils}/*.zsh'
zi load ~/.dot