# **`.zshenv`**
# - **When loaded**: Always, for every shell (login, non-login, interactive, non-interactive)
# - **Purpose**: Environment variables that should be available to all processes
# - **Use for**: `PATH`, `EDITOR`, `BROWSER`, etc.
# - **Note**: Keep it lightweight since it's loaded most frequently

export BROWSER="brave"
export EDITOR="${EDITOR:-nano}" # see `editor.zsh`
export LAUNCH_EDITOR="${EDITOR:-nano}" # Vite (https://www.npmjs.com/package/@open-editor/vite)
export VISUAL="${VISUAL:-nano}"
export PAGER="${PAGER:-most}"
export PATH="$PATH:$ZDOTDIR/bin"

export ANTHROPIC_API_KEY="{{- (onepasswordDetailsFields "Anthropic API").credential.value }}"
export CLAUDE_API_KEY=$ANTHROPIC_API_KEY
export OPENROUTER_API_KEY="{{- (onepasswordDetailsFields "Openrouter API").credential.value }}"
export OPENAI_API_KEY="{{- (onepasswordDetailsFields "OpenAI API").credential.value }}"
export CIVITAI_API_KEY="{{- (onepasswordDetailsFields "Civit AI API").credential.value }}"
export HYPERBOLIC_API_KEY="{{- (onepasswordDetailsFields "Hyperbolic AI API").credential.value }}"
export STABILITY_API_KEY="{{- (onepasswordDetailsFields "Stability AI API").credential.value }}"
export SAI_API_KEY=$STABILITY_API_KEY
export DEEPSEEK_API_KEY="{{- (onepasswordDetailsFields "Deepseek API").credential.value }}" 