set -gx ANTHROPIC_API_KEY "{{- (onepasswordDetailsFields "Anthropic API").credential.value }}"
set -gx OPENROUTER_API_KEY "{{- (onepasswordDetailsFields "Openrouter API").credential.value }}"
set -gx OPENAI_API_KEY "{{- (onepasswordDetailsFields "OpenAI API").credential.value }}"
set -gx DEEPSEEK_API_KEY "{{- (onepasswordDetailsFields "Deepseek API").credential.value }}" 
set -gx MOONSHOT_API_KEY "{{- (onepasswordDetailsFields "Moonshot API").credential.value }}"

set -gx CIVITAI_API_KEY "{{- (onepasswordDetailsFields "Civit AI API").credential.value }}"
set -gx HYPERBOLIC_API_KEY "{{- (onepasswordDetailsFields "Hyperbolic AI API").credential.value }}"
set -gx STABILITY_API_KEY "{{- (onepasswordDetailsFields "Stability AI API").credential.value }}"
set -gx SAI_API_KEY $STABILITY_API_KEY